@font-face {
  font-family: Baveuse;
  src: local("Baveuse"), url("../fonts/baveuse.ttf") format("opentype");
}
.page {
  padding: 0 var(--padding-page) 10px;
}
.header {
  padding-right: var(--padding-page);
}
.search {
  position: relative;
  display: flex;
  align-items: center;
}
.search__input {
  width: 400px;
  height: 36px;
  border: 1px solid var(--border-color);
  outline: none;
  color: inherit;
  padding-left: 45px;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  transition: all 0.2s ease-in;
}
.search__input::placeholder {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.search__button {
  position: absolute;
  left: 15px;
  color: inherit;
  font-size: 18px;
}
.sort {
  display: flex;
  align-items: center;
  gap: 1%;
  padding: 20px var(--padding-page);
  font-size: 14px;
  color: var(--primary-color);
}
.label-sort-select {
  min-width: 110px;
  text-align: right;
}
.input-sort-select {
  width: 210px;
  margin-left: 15px;
}
.button-sort {
  position: absolute;
  color: inherit;
  font-size: 18px;
  padding: 4px;
  transition: background-color 0.2s ease-in;
  z-index: 2;
}
.button-sort:hover {
  background-color: var(--border-color);
}
.button-down {
  right: 55px;
}
.button-up {
  right: 30px;
}
.view {
  display: flex;
  gap: 5%;
}
.button-view {
  font-size: 28px;
  color: var(--primary-color);
  transition: color 0.2s ease-in;
}
.button-view:hover {
  color: var(--text-color);
}
.view-tiles {
  font-size: 31px;
}
.disable {
  color: var(--disable-color);
  cursor: default;
  transition: color 0.2s ease-in;
}
.disable:hover {
  color: var(--disable-color);
  background-color: var(--background-color);
}
.films {
  margin-top: 30px;
  margin-top: 30px;
}
.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, 26%);
  justify-content: center;
  column-gap: 3%;
  row-gap: 15px;
}
.list {
  display: flex;
  flex-direction: column;
}
.link {
  color: var(--color--page);
}
.tile {
  margin-bottom: 10px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
a.tile:hover {
  transform: scale(1.05);
}
.tile__film-poster {
  width: 100%;
  aspect-ratio: 1/1.5;
  border-radius: 10px;
}
.tile__film-title {
  margin-top: 10px;
  font-weight: 700;
}
.tile__film-data {
  margin-top: 2px;
  font-size: 14px;
}
.tile__skeleton-title {
  width: 80%;
  height: 20px;
}
.tile__skeleton-data {
  width: 40%;
  height: 20px;
}
.item {
  display: flex;
  padding: 20px 20px 0;
  border-top: 1px solid var(--background-color-hover);
  transition: border-color 0.2s ease-in;
}
.item.film:hover {
  background-color: var(--background-color-hover);
  border-radius: 10px;
}
.item.film:hover + .item.film {
  border-color: transparent;
}
.item__film {
  display: flex;
  gap: 10px;
}
.item__film-poster {
  width: 100px;
  height: 130px;
}
.item__film-data {
  height: fit-content;
}
.item__film-title {
  margin-bottom: 10px;
  font-weight: 700;
}
.item__film-date {
  margin-top: 5px;
  font-size: 13px;
  color: var(--primary-color);
}
.item__skeleton-title {
  width: 150px;
  height: 20px;
}
.item__skeleton-episode {
  width: 100px;
  height: 20px;
}
.item__skeleton-date {
  width: 50px;
  height: 15px;
}
.tile__film-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item__icon-favorites {
  align-self: flex-start;
}
.time-block {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.time-poster {
  width: calc(100% - 2 * var(--padding-page));
  aspect-ratio: 4/1;
  border-radius: 15px;
  object-fit: cover;
}
.time-content {
  position: absolute;
  top: 40%;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--background-color);
  font-family: "Baveuse", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 20px;
  transition: color 0.2s ease-in;
}
.time-title {
  font-size: 70px;
}
.time-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.time {
  font-size: 14px;
  padding-left: 10%;
  white-space: nowrap;
}
.search-mobile .search__input {
  width: 180px;
  height: 30px;
  padding-left: 30px;
}
.search-mobile .search__button {
  left: 8px;
}
.time-block.hidden,
.search-mobile.hidden {
  display: none;
}

@media (max-width: 1200px) {
  .time-content {
    font-size: 14px;
  }
  .time-title {
    font-size: 50px;
  }
  .time {
    font-size: 11px;
  }
  .tiles {
    grid-template-columns: repeat(auto-fit, 30%);
  }
  .tile__film-title {
    font-size: 14px;
  }
  .tile__film-data {
    font-size: 13px;
  }
  a.tile:hover {
    transform: none;
  }
  .item.film:hover {
    background-color: transparent;
    border-radius: 0;
  }
  .item.film:hover + .item.film {
    border-color: var(--background-color-hover);
  }
  .item__film-date {
    font-size: 12px;
  }
}
@media (max-width: 910px) {
  .time {
    font-size: 10px;
  }
  .search.show {
    display: none;
  }
  .search.hidden {
    display: flex;
  }
  .time-poster {
    aspect-ratio: 3/1;
  }
  .button-sort {
    padding: 2px;
  }
}
@media (max-width: 750px) {
  .time-content {
    font-size: 10px;
  }
  .time-title {
    font-size: 35px;
  }
  .time {
    font-size: 8px;
    padding-left: 0;
  }
  .time-poster {
    aspect-ratio: 2.5/1;
  }
}
@media (max-width: 670px) {
  .time-content {
    right: 65%;
    top: 30%;
  }
  .time-title {
    font-size: 36px;
  }
}
@media (max-width: 570px) {
  .time-content {
    right: 60%;
  }
  .tiles {
    grid-template-columns: repeat(auto-fit, 47%);
  }
}
@media (max-width: 480px) {
  .label-sort-select {
    display: none;
  }
  .input-sort-select {
    margin-left: 0;
  }
  .time-poster {
    aspect-ratio: 2/1;
  }
  .time-content {
    right: 57%;
    font-size: 9px;
  }
}
@media (max-width: 440px) {
  .time-content {
    right: 50%;
  }
  .time-title {
    font-size: 35px;
  }
  .time {
    font-size: 7px;
    padding-left: 1%;
  }
}
