:root {
  --background-color: white;
  --text-color: black;
  --border-color: #dbd9d9;
  --primary-color: #727272;
  --color-time: #fefefe;
  --background-color-hover: #eaeaea;
  --padding-page: 1%;
  --disable-color: #dfdfdf;
}
.theme-dark {
  --background-color: black;
  --text-color: white;
  --border-color: #585858;
  --background-color-hover: #1f1d1d;
  --disable-color: #202020;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  transition: all 0.2s ease-in;
}
.page {
  padding: 0 3%;
  min-width: 360px;
}
.header {
  display: flex;
  margin-bottom: 10px;
  gap: 2%;
  color: var(--primary-color);
  font-size: 14px;
  transition: color 0.2s ease-in;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 2%;
  width: 100%;
}
.logo {
  width: 200px;
  align-self: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.material {
  font-family: "Material Symbols Outlined";
}
.material-fill {
  font-variation-settings: "FILL" 1;
}
.flex-grow {
  flex-grow: 1;
}
.skeleton {
  background-color: var(--border-color);
}
.icon-favorites {
  font-size: 25px;
  color: var(--primary-color);
  line-height: 20px;
}
.button-favorites {
  width: 140px;
  height: 36px;
  font-size: 14px;
  gap: 10px;
  border: 1px solid var(--border-color);
  padding-left: 5px;
  color: inherit;
  transition: all 0.2s ease-in;
}
.button-favorites:hover {
  background-color: var(--background-color-hover);
}
.button__icon-favorites {
  font-size: 25px;
  color: inherit;
}
.hide {
  visibility: hidden;
}
.favorites-active {
  border-color: var(--background-color-hover);
  color: var(--primary-color);
  background-color: var(--background-color-hover);
  transition: all 0.2s ease-in;
}
.favorites-active:hover {
  border-color: var(--primary-color);
}
.button-favorites-content {
  min-width: 100px;
  display: flex;
  gap: 3px;
}
.themes {
  background-color: var(--primary-color);
  border-radius: 20px;
  color: var(--background-color);
  gap: 2px;
  line-height: 22px;
  transition: all 0.2s ease-in;
}
.sun,
.moon {
  font-size: 20px;
}
.sun {
  opacity: 1;
  transition: opacity 1s cubic-bezier(0, 1.9, 0, 1.22);
  padding-left: 2px;
}
.moon {
  opacity: 0;
  transition: opacity 1s cubic-bezier(0, 1.9, 0, 1.22);
}
body.theme-dark .sun {
  opacity: 0;
}
body.theme-dark .moon {
  opacity: 1;
}
.temp-height {
  height: 965px;
}
.poster {
  width: 400px;
  height: 600px;
  object-fit: cover;
  object-position: top;
}
.title {
  font-size: 40px;
  margin-top: 0;
}
.subtitle {
  font-size: 22px;
  margin: 0 0 20px;
}
.list {
  display: grid;
  grid-template-columns: 160px 1fr;
  font-size: 14px;
  row-gap: 16px;
}
.item-label {
  color: var(--primary-color);
}
.link-home {
  color: var(--primary-color);
  font-size: 20px;
  transition: color 0.2s ease-in;
}
.link-home:hover {
  color: var(--text-color);
}
.select {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  cursor: pointer;
  height: 36px;
  transition: all 0.2s ease-in;
}
.select-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 10px;
  z-index: 1;
}
.language {
  position: absolute;
  left: 5px;
  font-size: 25px;
}
.select-header-language {
  width: 140px;
  padding: 0;
  text-align: center;
}
.icon-select-down {
  position: absolute;
  right: 5px;
  font-size: 25px;
}
.quantity-favorites-films {
  transform: translateY(-4px);
  font-size: 12px;
  width: 10px;
}
.select-header-language-mobile {
  width: 50px;
  color: transparent;
}
.select-header-language-mobile option {
  color: var(--primary-color);
  font-size: 13px;
}
.select-header-language-mobile ~ .icon-select-down {
  right: -2px;
}
.select-header-language-mobile + .label-language-select {
  left: 2px;
}
.hidden {
  display: none;
}
.show {
  display: flex;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: -1px;
  width: calc(100% + 2px);
  list-style: none;
  padding: 0;
  margin-top: 4px;
  z-index: 1;
  height: 56px;
  overflow: hidden;
  background-color: var(--background-color);
  transition: all 0.2s ease-in;
}
.option {
  padding: 5px 5px 5px 10px;
  border: 1px solid var(--disable-color);
}
.option-active {
  background-color: var(--disable-color);
}
.block-dropdown-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.dropdown--height {
  height: 0px;
}
.dropdown--height .option {
  border: none;
}

@media (max-width: 1200px) {
  .button-favorites {
    width: 50px;
    gap: 0;
    padding: 0;
    border: none;
  }
  .button-favorites:hover {
    background-color: transparent;
  }
  .button-favorites-content {
    min-width: 0;
  }
  .favorites {
    display: none;
  }
  .favorites-active {
    border-color: none;
    background-color: transparent;
  }
  .favorites-active:hover {
    border-color: none;
  }
}
@media (max-width: 1000px) {
  .poster {
    height: 500px;
    object-fit: contain;
  }
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 18px;
  }
  .list {
    grid-template-columns: 140px 1fr;
    font-size: 13px;
  }
  .item-label {
    font-size: 14px;
  }
  .link-home {
    font-size: 16px;
  }
}
@media (max-width: 910px) {
  .select.show {
    display: none;
  }
  .select.hidden {
    display: flex;
  }
  .select,
  .button-favorites {
    height: 30px;
  }
}
@media (max-width: 800px) {
  .title {
    font-size: 25px;
  }
  .subtitle {
    font-size: 17px;
  }
  .list {
    grid-template-columns: 120px 1fr;
    font-size: 12px;
  }
  .item-label {
    font-size: 13px;
  }
}
@media (max-width: 740px) {
  .poster {
    height: 400px;
  }
  .title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .list {
    grid-template-columns: 100px 1fr;
    font-size: 11px;
    row-gap: 5px;
  }
  .item-label {
    font-size: 12px;
  }
}
@media (max-width: 590px) {
  .poster {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 18px;
  }
  .list {
    grid-template-columns: 140px 1fr;
    font-size: 13px;
  }
  .item-label {
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .header {
    flex-direction: column;
    gap: 0;
    padding-left: var(--padding-page);
  }
}
@media (max-width: 400px) {
  .poster {
    height: 300px;
  }
}
